@page "/riders/create"

@inject HttpClient http
@inject NavigationManager navigationManager

<h3>Create Rider</h3>

<RiderForm
      ButtonText="Create Rider"
      rider="@rider"
      OnValidSubmit="@Submit" />

@code {
    Rider rider = new Rider();

    async Task Submit()
    {
        await http.PostAsJsonAsync("api/riders", rider);
        navigationManager.NavigateTo("riders");
    }
}
