@page "/riders"
@using StageRaceFantasy.Shared.Models
@inject HttpClient Http

<h1>Riders</h1>
<div>
    <MatButton Link="riders/create">Create New</MatButton>
</div>

@if (riders == null)
{
    <p><em>Loading...</em></p>
}
else if (riders.Length == 0)
{
    <p>No riders found.</p>
}
else
{
    <MatTable Items="@riders"
              FilterByColumnName="LastName"
              ShowPaging="false"
              PageSize="int.MaxValue"
              Striped="true">
        <MatTableHeader>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.FirstName</td>
            <td>@context.LastName</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private Rider[] riders;

    protected override async Task OnInitializedAsync()
    {
        riders = await Http.GetFromJsonAsync<Rider[]>("api/riders");
    }
}
