@page "/fantasy-teams"
@using StageRaceFantasy.Shared.Models
@inject HttpClient Http

<MatHeadline2>Fantasy Teams</MatHeadline2>
<div>
    <MatButton Link="fantasy-teams/create">Create New</MatButton>
</div>

@if (fantasyTeams == null)
{
    <MatBody1 Style="font-weight: bolder"><em>Loading...</em></MatBody1>
}
else
{
    <MatTable Items="@fantasyTeams"
              FilterByColumnName="Name"
              ShowPaging="false"
              Striped="true">
        <MatTableHeader>
            <th>Id</th>
            <th>Name</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Name</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private FantasyTeam[] fantasyTeams;

    protected override async Task OnInitializedAsync()
    {
        fantasyTeams = await Http.GetFromJsonAsync<FantasyTeam[]>("api/fantasy-teams");
    }
}
